In [2]:
##   1. LISTS COMPREHENSIONS...


if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    
output=[];
abc=[];

for x in range(x+1):
    for y in range(y+1):
        for z in range(z+1):
            if x+y+z!=n:
                abc=[x,y,z];
                output.append(abc);
                
print(output);

2
2
2
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

In [5]:
## 2.FIND THE RUNNER-UP SCORE .....

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    m=sorted(arr)
    l=set(m)
    l=list(l)
    print((l[-2]))

5
2 3 5 6 6
5

In [6]:
## 3. NESTED LISTS......


if __name__ == '__main__':
    students = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        students.append([name,score]) 
    x = 99999
    for i in range(len(students)):
        if x > float(students[i][1]):
            x = float(students[i][1])
    y = 999999
    for i in range(len(students)):
        if float(students[i][1]) > float(x) and y > float(students[i][1]):
            y = float(students[i][1])
    runner = []
    for i in range(len(students)):
        if float(students[i][1]) == float(y):
            runner.append(students[i][0])
    runner = sorted(runner)

    for i in range(len(runner)):
        print(runner[i])

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

In [8]:
## 4. FIND THE PERCENTAGE....

if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    
    if query_name in student_marks:
        x = ((float(student_marks[query_name][0]) + float(student_marks[query_name][1]) + float(student_marks[query_name][2])) / 3)
    
    print('%.2f' % x)

2
Harsh 25 26.5 28
Anurag 26 28 30
Harsh
26.50

In [9]:
### 5. LISTS ...


if __name__ == '__main__':
    N = int(input())
    L=[];
    for i in range(0,N):
        cmd=input().split();
        if cmd[0] == "insert":
            L.insert(int(cmd[1]),int(cmd[2]))
        elif cmd[0] == "append":
            L.append(int(cmd[1]))
        elif cmd[0] == "pop":
            L.pop();
        elif cmd[0] == "print":
            print(L)
        elif cmd[0] == "remove":
            L.remove(int(cmd[1]))
        elif cmd[0] == "sort":
            L.sort();
        else:
            L.reverse();

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 1
append 9
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

In [10]:
### 6. TUPLES....


if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    t = tuple(integer_list)
    print(abs(hash(t)));

2
1 2
3550055125485641917

In [11]:
## 7. INTRODUCTION TO SETS....


def average(array):
    # your code goes here
    sum_array = sum(set(array))
    len_array = len(set(array))
    output = sum_array/len_array
    return output
    

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

In [12]:
### 8.   NO IDEA!... 


n, m = input().split()

sc_ar = input().split()

A = set(input().split())
B = set(input().split())
print(sum([(i in A) - (i in B) for i in sc_ar]))

3 2
1 5 3
3 1
5 7
1

In [13]:
## 9.  SYMMMETRIC DIFFRENCE.... 

M = int(input())
mset = set(map(int, input().split()))
N = int(input())
nset = set(map(int, input().split()))

mdef = mset.difference(nset)
ndef = nset.difference(mset)

output = mdef.union(ndef)

for i in sorted(list(output)):
    print(i)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

In [14]:
### 10. SET.ADD()....


N = int(input())

countries = set()

for i in range(N):
    countries.add(input())

print(len(countries))

7
UK
CHINA
USA
FRANCE
NEW ZEALAND
UK
FRANCE
5

In [17]:
###   11.  Set .discard(), .remove() & .pop()...


n = int(input())
s = set(map(int, input().split()))
N=int(input())
for cmd in range(N):
    cmd=input().split()
    if cmd[0]=='pop':
        s.pop()
    if cmd[0]=='remove':
        s.remove(int(cmd[1]))
    if cmd[0]=='discard':
        s.discard(int(cmd[1]))
        

total=0
for i in s:
    total=total+i 
    
print(total)

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

In [18]:
## 12.  SET UNION OPERATION ..


english=input()
roll=set(input().split())
french=input()
num=set(input().split())
    
s=roll.union(num)
print(len(s))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

In [19]:
##. 13.  SET INTERSECTION OPERATION...


english=int(input())
eng=set(input().split())
french=int(input())
fre=set(input().split())

p=eng.intersection(fre)
print(len(p))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

In [20]:
## 14 .  SET DIFFERENCE OPERATION .....


# Enter your code here. Read input from STDIN. Print output to STDOUT
english=int(input())
eng=set(input().split())
french=int(input())
fre=set(input().split())

s= eng.difference(fre)
print(len(s))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

In [21]:
## 15. SET SYMMETRIC DIFFERNCE OPERATION...


# Enter your code here. Read input from STDIN. Print output to STDOUT
a=input()
a1=set(input().split())
b=input()
b1=set(input().split())

s=a1.symmetric_difference(b1)
print(len(s))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

In [22]:
## 16. SET MUTATIONS....


if __name__ == '__main__':
    (_, A) = (int(input()),set(map(int, input().split())))
    B = int(input())
    for _ in range(B):
        (command, newSet) = (input().split()[0],set(map(int, input().split())))
        getattr(A, command)(newSet)

    print (sum(A))

16
 1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

In [23]:
### 17 . THE CAPTAINS ROOM....


k=int(input())
l=list(map(int,input().split()))
m = set(l)

print(((sum(m)*k)-(sum(l)))//(k-1))

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

In [25]:
## 18. CHECK SETS ...


t=int(input())
for _ in range(t):
    n1=int(input())
    a=set(map(int,input().split()))
    n2=int(input())
    b=set(map(int,input().split()))
    print(a.issubset(b))

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

In [26]:
##. 19. CHECK STRICT SUPER SUBSET....


a=set(map(int,input().split()))
n=int(input())
out=True
for _ in range(n):
    s=set(map(int,input().split()))
    if not s.issubset(a):
        out=False
    if len(s)>=len(a):
        out=False
        
print(out)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False